.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.421);
  padding: 3vh 5vw;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(3px);
  background: #121212e3;
  border-radius: 1rem;
  padding: 2rem;

  width: 90vw;
  height: 94vh;
}
.h2 {
  margin: 0;
}
.list {
  padding: 3rem;
  height: 95%;
  overflow-y: auto;
}

.muscleGroup {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 60%;
  margin: auto;
  button {
    border-radius: 1rem;
    width: 33.33%;
    font-size: 2rem;
    padding: 0.2rem;
    background-color: #1d1d1d;
    color: #fff;
    border: 2px solid #fff;
    &:hover {
      border: 2px solid transparent;
      background-color: #ffffff;
      color: #121212;
    }
  }
}

.none {
  display: none;
}

.close {
  position: absolute;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  right: -1rem;
  top: -1rem;
  border: none;
  &:hover {
    cursor: pointer;
  }
}
//
.list {
  --sb-track-color: #272727;
  --sb-thumb-color: #636363;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

.list::-webkit-scrollbar {
  width: var(--sb-size);
}

.list::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

.list::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}
