.day {
  padding: 2rem;
  height: 254px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.924);
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
  color: #fff;
  h2 {
    text-align: center;
  }
}
